# DataFrame grouped by YEAR Creation & Preprocessing (leaving punctuation)

<br>

In [13]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import glob
import re
import numpy as np

In [14]:
df_clean = pd.read_csv("dataframe_texts_clean.csv", encoding="utf-8", index_col=0)
df_clean
#df_clean is filled with only text with full existing meta data

,text,title,year,number
0,Es waren kaum zwei Wochen nach dem Tod Friedri...,100_Jahre_Hamburg-Berlin,1946.0,nr1199
1,"Aufstellungen über Welternte, Weltbedarf und W...",1800_Kalorien...,1946.0,nr5674
2,Die gegenwärtige Industrieproduktion in der am...,20_v._H._Kapazitätsausnutzung,1946.0,nr6365
3,Die Potsdamer. Beschlüsse der Sieger haben das...,74_Millionen_in_4_Zonen,1946.0,nr2437
4,"Weltgrund Einsamkeiten,\n\nBin wieder bei euch...",Abendlied_im_Wald,1946.0,nr747
...,...,...,...,...
80376,"In Kiew versuchen Polizeibeamte, in das Kranke...",Ärzte_schützten_Bulatow_vor_der_Polizei,2014.0,nr82
80377,Die Mehrheit der Deutschen befürwortet aktive ...,Ärzte_und_Kirche_gegen_aktive_Sterbehilfe,2014.0,nr1085
80378,Alarm beim Bundesheer. 46 Prozent der Rekruten...,Überfordert,2014.0,nr6081
80379,Am Sonntag wurde in Hamburg Helmut Schmidts 95...,Überheblichkeit_gegen_China_wäre_ein_Fehler,2014.0,nr2347
80380,"Ausgerechnet Odessa. Eine weltoffene, tolerant...",Über_Nacht_kam_die_Angst_nach_Odessa,2014.0,nr1123

In [15]:
df_clean["text"] = df_clean["text"].str.replace(r"[^a-zA-ZäöüÄÖÜß\s,\.]+", "")
df_clean["text"] = df_clean["text"].str.replace(r"\n+", " ")

C:\Users\vAudience\AppData\Local\Temp\ipykernel_14028\4023380681.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_clean["text"] = df_clean["text"].str.replace(r"[^a-zA-ZäöüÄÖÜß\s,\.]+", "")
C:\Users\vAudience\AppData\Local\Temp\ipykernel_14028\4023380681.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_clean["text"] = df_clean["text"].str.replace(r"\n+", " ")

#### Punctuation is needed for creating contextual Word Embedgins with BERT later

In [16]:
df_clean_years = df_clean.groupby(["year"], as_index=False).agg({"text": " ".join})
df_clean_years

      year                                               text
0   1946.0  Es waren kaum zwei Wochen nach dem Tod Friedri...
1   1947.0  Ein Film nach einer Novelle von Stefan Zweig d...
2   1948.0  ProkofieffErstaufführung, Staatsoper Berlin Se...
3   1949.0  Von Erich Trunz Dämon Wie an dem Tag, der dich...
4   1950.0  Daß manchen Kreisen Großbritanniens die Erfolg...
..     ...                                                ...
64  2010.0  Puh, ganz schön hart, die Urteile zur ersten Z...
65  2011.0  Die Bundesregierung erwägt, die Familienangehö...
66  2012.0  Die Auslandseinsätze der Bundeswehr haben im v...
67  2013.0  Die Weltgemeinschaft stellt , Milliarden Dolla...
68  2014.0  Bei der Parlamentswahl in Nordkorea hat die Pa...

[69 rows x 2 columns]

In [17]:
df_clean_years.to_csv("df_cleaned_with_punc_years.csv", encoding = "utf-8")