# Loading "Politik"- text data in a DataFrame

In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import glob
import re

In [2]:
paths = Path("entpackt/").glob("*/Politik/*.txt")
# sample = list(paths)[0]

In [3]:
path = (r"C:\Users\vAudience\Documents\Zeit\entpackt")

In [4]:
#path_text = (r'C:\Users\vAudience\Documents\Zeit\entpackt\1946\Politik\*.txt')

In [5]:
filenames = []
for subdirname in glob.glob(os.path.join(path, '*')):
    if os.path.isdir(subdirname):
        for filename in glob.glob(os.path.join(subdirname, 'Politik', '*')):
             if os.path.isfile(filename):
                filenames.append(filename)
                #print(filename)

In [57]:
def extract_metadata(filename: str):
    try:
        title, year = filename.split("\\")[-1].strip(".txt").split("#")
        return {
            "title": "_".join(title.split("_")[:-1]),
            "year": year,
            "number": title.split("_")[-1]
        }
    except:
        return {}

In [58]:
list_of_text = []
for filename in list(paths):
    with filename.open("r", encoding="utf-8") as f:
        text = f.read()
    
    data = {"text": text}
    data.update(extract_metadata(str(filename)))
    list_of_text.append(data)

In [59]:
len(list_of_text)

80381

In [60]:
df = pd.DataFrame(list_of_text)
df

,text,title,year,number
0,Es waren kaum zwei Wochen nach dem Tod Friedri...,100_Jahre_Hamburg-Berlin,1946,nr1199
1,"Aufstellungen über Welternte, Weltbedarf und W...",1800_Kalorien...,1946,nr5674
2,Die gegenwärtige Industrieproduktion in der am...,20_v._H._Kapazitätsausnutzung,1946,nr6365
3,Die Potsdamer. Beschlüsse der Sieger haben das...,74_Millionen_in_4_Zonen,1946,nr2437
4,"Weltgrund Einsamkeiten,\n\nBin wieder bei euch...",Abendlied_im_Wald,1946,nr747
...,...,...,...,...
80376,"In Kiew versuchen Polizeibeamte, in das Kranke...",Ärzte_schützten_Bulatow_vor_der_Polizei,2014,nr82
80377,Die Mehrheit der Deutschen befürwortet aktive ...,Ärzte_und_Kirche_gegen_aktive_Sterbehilfe,2014,nr1085
80378,Alarm beim Bundesheer. 46 Prozent der Rekruten...,Überfordert,2014,nr6081
80379,Am Sonntag wurde in Hamburg Helmut Schmidts 95...,Überheblichkeit_gegen_China_wäre_ein_Fehler,2014,nr2347
80380,"Ausgerechnet Odessa. Eine weltoffene, tolerant...",Über_Nacht_kam_die_Angst_nach_Odessa,2014,nr1123

In [61]:
#df.to_csv("dataframe_texts.csv", encoding="utf-8")

## Testing the existing of all meta data

In [6]:
df = pd.read_csv("dataframe_texts.csv", encoding="utf-8", index_col=0)

In [14]:
df

,text,title,year,number
0,Es waren kaum zwei Wochen nach dem Tod Friedri...,100_Jahre_Hamburg-Berlin,1946.0,nr1199
1,"Aufstellungen über Welternte, Weltbedarf und W...",1800_Kalorien...,1946.0,nr5674
2,Die gegenwärtige Industrieproduktion in der am...,20_v._H._Kapazitätsausnutzung,1946.0,nr6365
3,Die Potsdamer. Beschlüsse der Sieger haben das...,74_Millionen_in_4_Zonen,1946.0,nr2437
4,"Weltgrund Einsamkeiten,\n\nBin wieder bei euch...",Abendlied_im_Wald,1946.0,nr747
...,...,...,...,...
80376,"In Kiew versuchen Polizeibeamte, in das Kranke...",Ärzte_schützten_Bulatow_vor_der_Polizei,2014.0,nr82
80377,Die Mehrheit der Deutschen befürwortet aktive ...,Ärzte_und_Kirche_gegen_aktive_Sterbehilfe,2014.0,nr1085
80378,Alarm beim Bundesheer. 46 Prozent der Rekruten...,Überfordert,2014.0,nr6081
80379,Am Sonntag wurde in Hamburg Helmut Schmidts 95...,Überheblichkeit_gegen_China_wäre_ein_Fehler,2014.0,nr2347
80380,"Ausgerechnet Odessa. Eine weltoffene, tolerant...",Über_Nacht_kam_die_Angst_nach_Odessa,2014.0,nr1123

In [16]:
samples = []

for i in range(100):
    samples.append(df.sample(100))

In [28]:
df[df["year"].isna()]

                                                    text title  year number
72461  Für die CDU war die Sache glasklar: Knapp eine...   NaN   NaN    NaN
73138                                                NaN   NaN   NaN    NaN
75515  Der Moderator verspricht der Menge Blut. Sandr...   NaN   NaN    NaN
78495  "Sie könnten ein Dirndl auch ausfüllen." Genau...   NaN   NaN    NaN

## Saving only texts with full existing Meta Data

In [30]:
df_clean = df[~df.isna().any(axis=1)]

In [32]:
# df_clean.to_csv("dataframe_texts_clean.csv", encoding="utf-8")

## Testing Amount of Words

In [2]:
df_clean = pd.read_csv("dataframe_texts_clean.csv", encoding="utf-8", index_col=0)

In [16]:

df_clean["words"] = df_clean["text"].apply(lambda x: x.replace("\n", " ").lower().split())

In [17]:
df_clean["words"] = df_clean["words"].apply(lambda x: set(x))

In [18]:
df_clean["words"]

0        {tod, menschlichen, 41, geschwindigkeiten., ha...
1        {demselben, drückenden, nominell, hamburg,, ve...
2        {ganzen, konnten, knappheit, kohle, 13, bestän...
3        {zudem, 1939), industrieländer, prozeß, berlin...
4        {glanz, muß., horch, gründe, haus,, hinab, ich...
                               ...
80376    {"ich, russischem, handy., wanted, januar, ang...
80377    {tod, arzt, yougov, sich, ein, wissen,, über, ...
80378    {wirken, zentralmatura, zusammenhang, aber, et...
80379    {richard, weltmacht, dreiviertelstunde, 1980, ...
80380    {zudem, politik, sich, ein, ereignisse:, gründ...
Name: words, Length: 79771, dtype: object

In [22]:
vocabulary = set.union(*(df_clean["words"].tolist()))

In [23]:
len(vocabulary)

1888780